@model AutoYahtzee.Business.ViewModels.YahtzeeListViewModel
@{
    ViewData["Title"] = "Yahtzees";
}

<div class="yahtzees-page">


    @foreach (var yahtzee in Model.Yahtzees)
    {

        <div class="row title-row">
            <div class="col-md-12">
                <h3 class="font-weight-normal">
                    @yahtzee.NumberOfDices Dice Yahtzees:
                </h3>
            </div>
        </div>

        if (yahtzee.Throws.Any())
        {

            <div class="row">

                @foreach (var throww in yahtzee.Throws)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">

                            <div class="card-body">
                                <video id="my-player"
                                       class="video-js vjs-big-play-centered"
                                       controls=""
                                       preload="auto"
                                       poster="@throww.ImageUrl"
                                       data-setup='{"fluid":true}'>
                                    <source src="@throww.VideoUrlWebm" type="video/webm" />
                                    <source src="@throww.VideoUrlMp4" type="video/mp4" />
                                    <p class="vjs-no-js">
                                        To view this video please enable JavaScript, and consider upgrading to a
                                        web browser that
                                        <a href="https://videojs.com/html5-video-support/" target="_blank">
                                            supports HTML5 video
                                        </a>
                                    </p>
                                </video>
                            </div>

                            <div class="card-footer">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="/Details/@throww.Id" type="button" class="btn btn-sm btn-outline-secondary">Details</a>
                                    </div>
                                    <small class="text-muted">@throww.Date.ToString("MMM dd, yyy HH:mm")</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-12">
                    <p class="lead">Coming Soon</p>
                </div>
            </div>
        }
    }

</div>