@model AutoYahtzee.Business.ViewModels.ThrowListViewModel
@{
    ViewData["Title"] = Consts.PageTitle.LatestRolls;
}

<div class="latest-rolls">
    <partial name="PageTitle" for="@Consts.PageTitle.LatestRolls" />
    <partial name="Pagination" for="@Model" />
    <div class="row">

        @foreach (var throww in Model.Throws)
        {
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">

                    <div class="card-header">
                        <h5>Roll <span class="roll-number">#@throww.RollNumber</span></h5>
                    </div>

                    <div class="card-body">
                        <video id="my-player"
                               class="video-js vjs-big-play-centered"
                               controls=""
                               preload="auto"
                               poster="@throww.ImageUrl"
                               data-setup='{"fluid":true}'>
                            <source src="@throww.VideoUrlWebm" type="video/webm" />
                            <source src="@throww.VideoUrlMp4" type="video/mp4" />
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a
                                web browser that
                                <a href="https://videojs.com/html5-video-support/" target="_blank">
                                    supports HTML5 video
                                </a>
                            </p>
                        </video>
                    </div>

                    <div class="card-footer">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/Details/@throww.Id" type="button" class="btn btn-sm btn-outline-secondary">Details</a>
                            </div>
                            <small class="text-muted time-ago-label" data-timeago="@throww.Date.ToString("yyyy-MM-dd HH:mm:ss")"></small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <partial name="Pagination" for="@Model" />
</div>
